---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?location=denver&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fba7e14e373e5b2940b6c056ccc5cd47"
    body:
      encoding: UTF-8
      string: '[{"id":9094,"obdb_id":"bnaf-llc-austin","name":"Bnaf, LLC","brewery_type":"planning","street":null,"address_2":null,"address_3":null,"city":"Austin","state":"Texas","county_province":null,"postal_code":"78727-7602","country":"United
        States","longitude":null,"latitude":null,"phone":null,"website_url":null,"updated_at":"2018-07-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":9180,"obdb_id":"boulder-beer-co-boulder","name":"Boulder
        Beer Co","brewery_type":"regional","street":"2880 Wilderness Pl","address_2":null,"address_3":null,"city":"Boulder","state":"Colorado","county_province":null,"postal_code":"80301-5401","country":"United
        States","longitude":"-105.2480158","latitude":"40.026439","phone":null,"website_url":null,"updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":9754,"obdb_id[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=denver&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"818fc0d5d53919ad77d5300c42a51671"
    body:
      encoding: UTF-8
      string: '[{"id":8039,"obdb_id":"10-barrel-brewing-co-denver-denver","name":"10
        Barrel Brewing Co - [...]
