---
http_interactions:
- request:
    method: post
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>
    body:
      encoding: UTF-8
      string: location=englewood%2Cco
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Tue, 10 Aug 2021 02:31:24 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"englewood,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Englewood","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039027","unknownInput":"","type":"s","latLng":{"lat":39.649436,"lng":-104.98891},"displayLatLng":{"lat":39.649436,"lng":-104.98891},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.649436,-104.98891|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1102401648"}]}]}'
  recorded_at: Tue, 10 Aug 2021 02:32:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely%2Calerts&lat=39.649436&lon=-104.98891&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6494,"lon":-104.9889,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628562682,"sunrise":1628510815,"sunset":1628561040,"temp":80.64,"feels_like":79.2,"pressure":1010,"humidity":24,"dew_point":40.55,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.01,"wind_deg":88,"wind_gust":3,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1628560800,"temp":81.18,"feels_like":79.43,"pressure":1009,"humidity":22,"dew_point":38.77,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":5.79,"wind_deg":123,"wind_gust":8.88,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628564400,"temp":80.64,"feels_like":79.2,"pressure":1010,"humidity":24,"dew_point":40.55,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":2.37,"wind_deg":164,"wind_gust":3.96,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1628568000,"temp":80.1,"feels_like":78.82,"pressure":1010,"humidity":23,"dew_point":39,"uvi":0,"clouds":38,"visibility":10000,"wind_speed":4.38,"wind_deg":193,"wind_gust":5.84,"weather":[{"id":802,"main":[...]
