---
http_interactions:
- request:
    method: post
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>
    body:
      encoding: UTF-8
      string: location=anchorage%2Cak
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Tue, 10 Aug 2021 02:31:24 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"anchorage,ak"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Anchorage","adminArea5Type":"City","adminArea4":"Municipality
        of Anchorage","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039478","unknownInput":"","type":"s","latLng":{"lat":61.216583,"lng":-149.899597},"displayLatLng":{"lat":61.216583,"lng":-149.899597},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=61.216583,-149.899597|marker-sm-50318A-1&scalebar=true&zoom=12&rand=75531743"}]}]}'
  recorded_at: Tue, 10 Aug 2021 02:32:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely%2Calerts&lat=61.216583&lon=-149.899597&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":61.2166,"lon":-149.8996,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1628562683,"sunrise":1628517228,"sunset":1628576182,"temp":59.11,"feels_like":57.81,"pressure":998,"humidity":66,"dew_point":47.77,"uvi":0.71,"clouds":90,"visibility":10000,"wind_speed":4.61,"wind_deg":190,"weather":[{"id":300,"main":"Drizzle","description":"light
        intensity drizzle","icon":"09d"}]},"hourly":[{"dt":1628560800,"temp":59.27,"feels_like":57.99,"pressure":998,"humidity":66,"dew_point":47.93,"uvi":1.33,"clouds":92,"visibility":10000,"wind_speed":6.26,"wind_deg":181,"wind_gust":13.29,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.75,"rain":{"1h":0.11}},{"dt":1628564400,"temp":59.11,"feels_like":57.81,"pressure":998,"humidity":66,"dew_point":47.77,"uvi":0.71,"clouds":90,"visibility":10000,"wind_speed":6.85,"wind_deg":165,"wind_gust":16.49,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.71},{"dt":1628568000,"temp":59.02,"feels_like":57.78,"pressure":998,"humidity":67,"dew_point":48.09,"uvi":0.2,"clouds":92,"visibility":10000,"wind_speed":7.61,"wind_deg":158,"wind_gust":12.82,"weath[...]
