---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely%2Calerts&lat=39&lon=-104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39,"lon":-104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628562681,"sunrise":1628510656,"sunset":1628560724,"temp":75.96,"feels_like":74.71,"pressure":1010,"humidity":31,"dew_point":43.18,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":9.31,"wind_deg":352,"wind_gust":13.87,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1628560800,"temp":75.85,"feels_like":74.53,"pressure":1010,"humidity":30,"dew_point":42.24,"uvi":0,"clouds":19,"visibility":10000,"wind_speed":18.16,"wind_deg":3,"wind_gust":28.86,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1628564400,"temp":75.96,"feels_like":74.71,"pressure":1010,"humidity":31,"dew_point":43.18,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":9.31,"wind_deg":352,"wind_gust":13.87,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1628568000,"temp":75.33,"feels_like":73.98,"pressure":1010,"humidity":30,"dew_point":41.79,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":8.55,"wind_deg":358,"wind_gust":11.03,"weather":[{"id":801,"main"[...]
