---
http_interactions:
- request:
    method: post
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>
    body:
      encoding: UTF-8
      string: location=denver%2Cco
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Tue, 10 Aug 2021 02:31:29 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1501071252"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1935160420"}]}]}'
  recorded_at: Tue, 10 Aug 2021 02:32:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely%2Calerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628562689,"sunrise":1628510803,"sunset":1628561050,"temp":80.94,"feels_like":79.38,"pressure":1006,"humidity":24,"dew_point":40.8,"uvi":0,"clouds":31,"visibility":10000,"wind_speed":1.01,"wind_deg":281,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1628560800,"temp":81.9,"feels_like":79.9,"pressure":1006,"humidity":22,"dew_point":39.36,"uvi":0,"clouds":32,"visibility":10000,"wind_speed":5.93,"wind_deg":121,"wind_gust":10.27,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628564400,"temp":80.94,"feels_like":79.38,"pressure":1006,"humidity":24,"dew_point":40.8,"uvi":0,"clouds":31,"visibility":10000,"wind_speed":3.04,"wind_deg":138,"wind_gust":4.72,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1628568000,"temp":81.1,"feels_like":79.43,"pressure":1006,"humidity":23,"dew_point":39.85,"uvi":0,"clouds":30,"visibility":10000,"wind_speed":3.98,"wind_deg":178,"wind_gust":6.13,"weather":[{"id":802,"mai[...]
