---
http_interactions:
- request:
    method: post
    uri: http://www.mapquestapi.com/directions/v2/route?key=<MAPQUEST_API_KEY>
    body:
      encoding: UTF-8
      string: '{"locations":["denver","chicago"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      last-modified:
      - Mon, 09 Aug 2021 20:13:16 GMT
      status:
      - success
      transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":true,"boundingBox":{"lr":{"lng":-87.632401,"lat":39.738453},"ul":{"lng":-105.011559,"lat":41.883228}},"distance":1007.3899,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"14:24:26","sessionId":"61118c5c-002c-5f21-02b4-3700-0a43c1fead2d","hasAccessRestriction":false,"realTime":52734,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":51.28,"legs":[{"hasTollRoad":true,"hasBridge":true,"destNarrative":"Proceed
        to CHICAGO, IL.","distance":1007.3899,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"14:24:26","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":13,"time":51866,"hasUnpaved":false,"origNarrative":"Go
        west on E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","maneuvers":[{"distance":0.135,"streets":["E
        14th Ave"],"narrative":"Start out going east on E 14th Ave toward N Grant
        St.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:23","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73845291137695,-104.9823226928711|marker-2||&center=39.73845291137695,-104.98358917236328&defaultMarker=none&zoom=13&rand=1625225178&session=61118c5c-002c-5f21-02b4-3700-0a43c1fead2d","transportMode":"AUTO","attributes":0,"time":23,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":8},{"distance":0.11,"streets":["N
        Logan St"],"narrative":"Turn left onto N Logan St.","turnType":6,"startPoint":{"lng":-104.982323,"lat":39.738453},"index":1,"formattedTime":"00:00:21","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&size=225,160&locations=39.73845291137695,-104.9823226928711|marker-2||39.740047454833984,-104.98233795166016|marker-3||&center=39.73925018310547,-104.98233032226562&defaultMarker=none&zoom=12&rand=1625225178&session=61118c5c-002c-5f21-02b4-3700-0a43c1fead2d","transportMode":"AUTO","attributes":0,"time":21,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/rs_left_sm.gif","direction":1},{"distance":1.482,"streets":["E
        Colfax Ave","I-70 Bus W","US-40 W","US-287 N"],"narrative":"Turn left onto
        E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","turnType":6,"startPoint":{"lng":-104.982338,"lat":39.740047},"index":2,"formattedTime":"00:03:12","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"70","type":5,"url":"http://icons.mqcdn.com/icons/rs5.png?n=70&d=WEST","direction":7},{"extraText":"","text":"40","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=40&d=WEST","direction":7},{"extraText":"","text":"287","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=287&d=NORTH","direction":1}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&size=225,160&locations=39.740047454833984,-104.98233795166016|marker-3||39.7403450012207,-105.00968170166016|marker-4||&center=39.74019[...]
- request:
    method: post
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>
    body:
      encoding: UTF-8
      string: location=chicago
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Mon, 09 Aug 2021 20:58:10 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=611811238"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Kenosha
        County","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely%2Calerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1628542720,"sunrise":1628506365,"sunset":1628557160,"temp":79.36,"feels_like":79.36,"pressure":1011,"humidity":74,"dew_point":70.36,"uvi":1.06,"clouds":87,"visibility":10000,"wind_speed":1.99,"wind_deg":247,"wind_gust":4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1628539200,"temp":79.23,"feels_like":79.23,"pressure":1011,"humidity":76,"dew_point":71.01,"uvi":1.6,"clouds":86,"visibility":10000,"wind_speed":13.56,"wind_deg":198,"wind_gust":22.21,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.63,"rain":{"1h":0.18}},{"dt":1628542800,"temp":79.36,"feels_like":79.36,"pressure":1011,"humidity":74,"dew_point":70.36,"uvi":1.06,"clouds":87,"visibility":10000,"wind_speed":12.66,"wind_deg":199,"wind_gust":23.4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.88},{"dt":1628546400,"temp":78.84,"feels_like":78.84,"pressure":1011,"humidity":78,"dew_point":71.4,"uvi":1.15,"clouds":88,"visibility":10000,"wind_speed":13.2,"wind_deg":203,"wind_gust":25.1,"weat[...]
